<%- include('includes/header') %>

<%- include("includes/sidebar") -%>

<main>

<div class="feed min-height container">

  <%- include('includes/flash') %>

  <div class="d-flex justify-content-between">
    <h2><%= post.title %></h2>
    <% if (post.isVisitorOwner) { %>
      <span class="pt-2 pr-5">
        <a href="/post/<%= post._id %>/edit" class="btn-icon mr-2" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i></a>
        <form class="delete-post-form d-inline" action="/post/<%= post._id %>/delete" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="delete-post-button btn-icon" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i></button>
        </form>
      </span>
   <% } %>
  </div>

  <div class="author-details">
    <img src="<%= post.author.avatar %>">
    <p>
      Posted by <a href="/profile/<%= post.author.username %>" class="author-link"><strong><%= post.author.username %></a></strong> on <%= post.createdDate.getMonth() + 1 %>/<%= post.createdDate.getDate() %>/<%= post.createdDate.getFullYear() %>
    </p>
  </div>

  <div class="body-content">
    <%- filterUserHTML(post.body) %>
  </div>

</div>

</main>

<%- include('includes/footer') %>