<%- include('includes/header') %>

<%- include("includes/sidebar") -%>

<main>

<div class="feed min-height container">

  <!-- FLASH MESSAGE -->
  <%- include("includes/flash") -%>

  <!-- PROFILE -->
  <%- include("includes/profileShared") %>

  <div class="list-group">
    <% following.forEach(function(followedUser) { %>
      <div class="list-group-item list-group-item-author">
        <div class="list-groupt-item-author">
          <img class="avatar-tiny" src="<%= followedUser.avatar %>">
          <a href="/profile/<%= followedUser.username %>"><strong><%= followedUser.username %></strong></a>
        </div>
      </div>
    <% }) %>
  </div>
</div>

</main>

<%- include('includes/footer') %>